
button{
    cursor: pointer;
}
.card{
    background: rgba(0,0,0,.05) !important;/* to override bt one */
    box-shadow: 2px 2px 4px rgba(0,0,0,.2) !important;
    border: none !important;
}

.disable_btn{
    cursor:not-allowed;
}

.plus_sign{
    margin-top: 5px;
    font-weight: bold;
}